################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Statki/Statki/bin/Debug/netcoreapp3.1
/Statki/.vs/Statki/v16
/Statki/Statki/obj
/Statki/.vs/Statki/DesignTimeBuild/.dtbcache.v2
/BattleShip/BattleShip/.vs/Battleship/v16
/BattleShip/BattleShip/bin/Debug/netcoreapp3.1
/BattleShip/BattleShip/obj/Debug/netcoreapp3.1
/BattleShip/.vs/Statki/v16
/BattleShip/BattleShip/obj
