################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Statki/Statki/bin/Debug/netcoreapp3.1
